AI/encounters/
AI/face_recog/
AI/known_faces/
AI/new_face_dir/
AI/train_images/
AI/pretrained models/
AI/.vscode/
AI/__pycache__/
AI/todo.txt
AI/known_faces.txt
AI/config.json
AI/model.log
AI/dlib/
AI/ANPR - Tutorial.ipynb
AI/car_model_test.py 
AI/car_model.py
AI/current_frame.jpg
AI/database_test.py
AI/Dockerfile
AI/hog_v1.py
AI/hog_v2.py
AI/hog_v3.py
AI/pavan.jpg
AI/plate.jpg
AI/processed.jpg
AI/requirements.txt
AI/.dockerignore