/* Encounter.styles.css */

   .encounter-page {
    display: flex;
    min-height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    background-color: #222222;
    /* padding: 2rem; */
  }
  .encounter-page-container{
    width: 100%;
    margin: 2rem
  }
  .encounter-container {
    display: flex;
    /* justify-content: space-between; */
    margin: 2rem 0;
  }
  .criminal-container {
    display: flex;
    /* justify-content: space-between; */
    margin: 2rem 0;
    align-items: center;
  }
  
  .encounter-details, .criminal-details {
    flex: 1;
    background-color: #222222;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* width: 70vw; */
  }
  
  .encounter-details h1, .criminal-details h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .encounter-table, .criminal-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  .encounter-table td, .criminal-table td {
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .encounter-table td:first-child, .criminal-table td:first-child {
    width: 30%;
    font-weight: 800;
  }
  
  .encounter-desc-image, .criminal-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .encounter-desc-image img, .criminal-image img {
    height: 300px;
    width: auto;
    max-width: 100%;
    border: 2px solid #000;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  @media screen and (max-width: 600px) {
    .encounter-container {
      flex-direction: column;
      align-items: center;
    }
  
    .encounter-details, .criminal-details {
      margin: 0;
      width: 100%;
    }
  
    .encounter-details h1, .criminal-details h1 {
      font-size: 1.8rem;
    }
  
    .encounter-table, .criminal-table {
      margin-bottom: 1rem;
    }
  
    .encounter-table td, .criminal-table td {
      font-size: 1rem;
      padding: 0.5rem;
    }
  
    .encounter-desc-image, .criminal-image {
      justify-content: center;
    }
  }


  .prediction-image{
    margin: 0rem 10rem;
  }
  