@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
.home-page{
    min-height: 100vh;
    width: 100vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #333333;
}

.home-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* .sidebar{
    width: 150px;
    min-height: 100vh;
    background-color: #000;
}

.sidebar-heading{
    margin: 2rem 1rem;
    font-weight: 600;
    color: #fff;
} */

.home-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
    color: #fff;
}

.home-head{
    font-weight: 800;
    font-size: 2.5rem;
    margin: 6rem 5rem 2rem;
}

.home-list {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* style table such that all table elements are centered and it is responsive*/
/* classes i have are table, table-head, table-row, table-data */   

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-head {
    padding: 1rem;
    text-align: center;
    cursor: default;
}

.table-head:first-child {
    margin-left: 1rem;
    text-align: left;
}

/* .table-head:last-child {
    text-align: right;
} */


.table-row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    cursor: pointer;
}

.table-data {
    display: table-cell;
    vertical-align: inherit;
}

/* style table head */
.table-head {
    font-weight: 600;
    color: #fff;
    background-color: #000;
}

/* style table row */

.table-row {
    background-color: #222222;
}

/* style table data */

.table-data {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* style table data for first column */

.table-data:first-child {
    margin-left: 1rem;
    text-align: left;
}

/* style table data for last column */

/* .table-data:last-child {
    text-align: right;
} */

/* style table data for hover effect */

.table-row:hover {
    background-color: #333333;
}

.encounter-image{
    height: 80px;
    object-fit: cover;
}
/* style table data for responsive */

@media screen and (max-width: 600px) {
    .table {
        border: 0;
    }

    .table-head {
        display: none;
    }

    .table-row {
        margin-bottom: 1rem;
        display: block;
        border: 1px solid #ddd;
    }

    .table-data {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ddd;
    }

    .table-data::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table-data:last-child {
        border-bottom: 0;
    }
}

